<!DOCTYPE html>

<html language={{ language }}>

<head>
    <meta charset="utf-8">
    <meta name="description" content={{ site_content }}>
    <meta name="author" content="Daniel Kiermeier">
    <meta name="copyright" content="Daniel Kiermeier">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- jQuery, Bootstrap & toastify -->
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    
    {%block thirdParty %}{% endblock %}
    
    <!-- custom Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://user-images.githubusercontent.com/52833906/160340586-ef8022d3-968a-46cb-a0cc-c62ff54776ab.png">
    <link rel="icon" type="image/png" sizes="512x512" href="https://user-images.githubusercontent.com/52833906/160340585-bf662600-d681-464b-9d70-57a4611932f6.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://user-images.githubusercontent.com/52833906/160340582-5254c4df-f2b7-4007-82f9-9816a96a7424.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://user-images.githubusercontent.com/52833906/160340590-e8e6aba5-b4cf-4337-9318-74dc7c79254c.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://user-images.githubusercontent.com/52833906/160340587-b3936c04-e668-4f93-a1ef-00eeca6838ba.png">
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}">

</head>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <img src="https://user-images.githubusercontent.com/52833906/159451562-de17a088-1438-4198-8e90-0cda45ef307a.png" style="width:60px" class="pr-1">  
      <h5 class="my-0 mr-md-auto font-weight-normal"> 
        {% if mute_home %}
          <p class="text-dark no-link-underline pt-3"><b>{{ base_app_name }}</b></p>
        {% else %} 
          <a href="{{ url_for('index') }}" class="text-dark no-link-underline"><b>{{ base_app_name }}</b></a>
        {% endif %}
        </h5>
        {% if mute_nav != True %}
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="{{ url_for('delivery') }}">{{ base_delivery }}</a>
          <a class="p-2 text-dark" href="{{ url_for('management') }}">{{ base_tables }}</a>
          <a class="p-2 text-dark" href="{{ url_for('reporting') }}">{{ base_reporting }}</a>
          <a class="p-2 text-dark" href="{{ url_for('settings') }}">{{ base_settings }}</a>
        </nav>
        {% endif %}
        {% if mute_nav != True %}
          <a class="btn btn-outline-danger" href="{{ url_for('shutdown') }}">{{ base_shutdown }}</a>
        {% endif %}
      </div>
  
      <!-- content container -->
      <div class="container">
        
        {% block body %} {% endblock %}
  
        <!-- footer -->
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <a onClick="window.open('https://www.layers-of-life.com')">
                <img class="mb-2" src="https://user-images.githubusercontent.com/52833906/160291224-d6b215b9-6f6f-4dc3-9e95-a25492341705.png" alt="" width="80px;">
              </a>
              
              <small class="d-block mb-3 text-muted">
                &copy; 2022 Daniel Kiermeier <br>
                mail: d.kiermeier@layers-of-life.com
              </small>
            </div>
            <div class="col-6 col-md">
              <h5>{{ base_documentation }}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/No9005/mini-moi">github</a></li>
                <li><a class="text-muted" href="#" onClick="demo_frame()">demo</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>{{ base_update }}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/No9005/mini-moi/releases">{{ base_releases }}</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>{{ base_version }}</h5>
              <ul class="list-unstyled text-small">
                <li><p class="text-muted">{{ base_app_version }}</p></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>

</body>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- toastify-js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>

  // demo option
  function demo_frame() {

    // create window
    window.open("{{ url_for('demo') }}", "", "width=500,height=600");
  };

</script>



{% block script %}{% endblock %}