<!DOCTYPE html>

<html language={{ language }}>

<head>
    <meta charset="utf-8">
    <meta name="description" content={{ site_content }}>
    <meta name="author" content="Daniel Kiermeier">
    <meta name="copyright" content="Daniel Kiermeier">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>

    {%block thirdParty %}{% endblock %}

    <!-- jQuery, Bootstrap & toastify -->
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery/3.6.0/jquery-3.6.0.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap/4.0.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/toastify/1.11.1/toastify.min.css') }}">
    
    <!-- custom Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}">
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='icons/favicon.ico')}}">

</head>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <img src="https://user-images.githubusercontent.com/52833906/159451562-de17a088-1438-4198-8e90-0cda45ef307a.png" style="width:5%" class="pr-1">  
      <h5 class="my-0 mr-md-auto font-weight-normal"> 
        <a href="{{ url_for('index') }}" class="text-dark no-link-underline"><b>{{ base_app_name }}</b></a>
      </h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="{{ url_for('delivery') }}">{{ base_delivery }}</a>
          <a class="p-2 text-dark" href="#">{{ base_tables }}</a>
          <a class="p-2 text-dark" href="{{ url_for('settings') }}">{{ base_settings }}</a>
        </nav>
        <a class="btn btn-outline-danger" href="{{ url_for('shutdown') }}">{{ base_shutdown }}</a>
      </div>
  
      <!-- content container -->
      <div class="container">
        
        {% block body %} {% endblock %}
  
        <!-- footer -->
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
              <small class="d-block mb-3 text-muted">
                &copy; 2022 Daniel Kiermeier <br>
                mail: d.kiermeier@layers-of-life.com
              </small>
            </div>
            <div class="col-6 col-md">
              <h5>{{ base_documentation }}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">github</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>{{ base_update }}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{{ base_releases }}</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>{{ base_version }}</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">{{ base_app_version }}</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>

</body>

<!-- bootstrap js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/popper/1.12.9/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/4.0.0/js/bootstrap.min.js') }}"></script>

<!-- toastify-js -->
<script type="text/javascript" src="{{ url_for('static', filename='js/toastify/1.11.1/toastify-js.js') }}"></script>


{% block script %}{% endblock %}