{% extends "html/base.html" %}

{% block title %} {{ demo_title }} {% endblock %}

{% block body %}

<!-- Header -->
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="margin-top:50px;">
    <h1 class="display-4">{{ demo_title }}</h1>
    <p class="lead">{{ demo_lead|safe }}</p>
</div>
<hr>
<div class="container py-4 text-center" style="margin-bottom:100px;">

    <div class="row mt-4 mb-2">
        <div class="col-12">
            <h3>{{ demo_create_db }}</h3>
        </div>

    </div>

    <div class="row pb-4">

        <div class="card mb-4 box-shadow border-0">
        <div class="card-body">
            <p class="card-text text-muted"><small>{{ demo_warning|safe }}</small></p>
        </div>
            <a href="#" onClick="demo()" class="btn btn-danger">{{ demo_btn }}</a>
        </div>
 
    </div>

</div>

{% endblock %}

{% block script %}
<script>

    function demo() {
        /* Delets the table and creates demo data

        params:
        ------
        null

        returns:
        --------
        null

        */

        // send to server
        $.ajax({
            method: 'POST',
            url: "{{ url_for('to_api', ressource='demo' ) }}",
            data: {}
        }).done(function(response) {

            if (response.success) {

                Toastify({
                        text: "{{ demo_creation_successfull }}",
                        duration: 8000,
                        position:'right',
                        gravity:'top',
                        stopOnFocus:true,
                        close:true,
                        style: {
                            background: "linear-gradient(to right, #16a085, #2ecc71)",
                        },
                    }).showToast();

            }
            else {

                console.log(response.error);
                
                Toastify({
                        text: response.error,
                        duration: 3000,
                        position:'right',
                        gravity:'top',
                        style: {
                            background: "linear-gradient(to right, #e74c3c, #c0392b)",
                        },
                    }).showToast();

            };

        });
    };

</script>
{% endblock %}
