{% extends "html/base.html" %}

{% block title %} {{ management_title }} {% endblock %}

{% block thirdParty %} 

<!-- data table support -->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

{% endblock %}

{% block body %}
<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ management_title }}</h1>
    <p class="lead">{{ management_lead }}</p>
</div>

<!-- content -->
<div class = "container">

    <!-- buttons row -->
    <div class="row force-min-height flex justify-content-center">

        <div class="col-2" id="">
            <button type="button" class="btn btn-lg btn-block btn-secondary" onClick="get_costumers()" data-toggle="tooltip" data-placement="bottom"> 
                {{ management_customers_btn }}
            </button>
        </div>

        <div class="col-2" id="">
            <button type="button" class="btn btn-lg btn-block btn-secondary" onClick="get_categories()" data-toggle="tooltip" data-placement="bottom"> 
                {{ management_category_btn }}
            </button>
        </div>

        <div class="col-2" id="">
            <button type="button" class="btn btn-lg btn-block btn-secondary" onClick="get_categories(null, 'subcategory')" data-toggle="tooltip" data-placement="bottom"> 
                {{ management_subcategory_btn }}
            </button>
        </div>

        <div class="col-2" id="">
            <button type="button" class="btn btn-lg btn-block btn-secondary" onClick="get_products()" data-toggle="tooltip" data-placement="bottom" > 
                {{ management_products_btn }}
            </button>
        </div>

        <div class="col-2" id="">
            <button type="button" class="btn btn-lg btn-block btn-secondary" onClick="" data-toggle="tooltip" data-placement="bottom" > 
                {{ management_abo_btn }}
            </button>
        </div>

        
    </div>

    <!-- tables -->

    <div class="hidden" id="tablesSection">
        <hr class="py-2">

        <!-- table name -->
        <div class="row mb-3" >

            <div class="col-12" >
                <h3 id="shownContentName"></h3>
            </div>
        </div>

        <div class="row mb-5">

            <!-- data table -->
            <div class="col-12" id="contentTablePlaceholder">
                            
                <!-- generated data-->

            </div>

        </div>

        <!-- table + sign -->
        <div class="row" style="margin-bottom:100px;">
        
            <div class="col-12 text-center" id="createNewTableRow">
                <i class='table-add fa-solid fa-circle-plus fa-xl'></i>
            </div>
            <div class="col-6 text-center hidden" id="uploadNewRows">
                <i class='fa-solid fa-cloud fa-xl table-upload'></i>
            </div>

        </div>

    </div>

</div>


{% endblock %} 

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/custom/tables.js') }}"></script>

<script>

    // get html elements
    var content_placeholder = document.getElementById('contentTablePlaceholder');
    var table_section = document.getElementById("tablesSection");
    var table_name = document.getElementById("shownContentName");

    // create status variable to track current table type
    var tbl_type = null;

    function create_tbl_head(cols, col_names) {
        /* Creates the table head 
        
        params:
        -------
        cols : array
            The original names of the columns.
        col_names : array
            The display name of the cols.
                Caution: needs same ordering as
                'cols'.
        
        returns:
        --------
        html element

        */

        // get n_cols
        const n_cols = cols.length;

        // create head
        var tblh = document.createElement('thead');
        //tblh.classList.add("thead-dark");
        var tblh_tr = document.createElement('tr');

        // only for the 'head' columns: to identify during the parsing
        tblh_tr.classList.add("head");

        // populate thead
        for (i = 0; i < n_cols; i++) {
            
            // create element
            var th = document.createElement('th');
            th.scope = "col";
            th.headers = cols[i];

            // set inner html
            th.innerHTML = col_names[i];

            // add to table-head-row
            tblh_tr.appendChild(th);

        };

        // set special space for abo fetching based
        // on customer id (--> shortcut)
        if (tbl_type == "customers") {

            var th_shortcut = document.createElement('th');
            th_shortcut.scope = "col";
            th_shortcut.innerHTML = "{{ management_tbl_col_special }}";
            th_shortcut.setAttribute('headers', "shortcut_button");
            th_shortcut.setAttribute('style', "width:5%");

            // append
            tblh_tr.appendChild(th_shortcut);

        };

        // add the remover col
        var th_remover = document.createElement('th');
        th_remover.scope = "col";
        th_remover.innerHTML = "{{ management_tbl_col_remover }}";
        th_remover.setAttribute('headers', "remove_button");
        th_remover.setAttribute('style', "width:5%");

        // add the update button
        var th_check = document.createElement('th');
        th_check.scope = "col";
        th_check.innerHTML = "{{ management_tbl_col_updater }}";
        th_check.setAttribute('headers', "update_button");
        th_check.setAttribute('style', "width:5%");

        // append
        tblh_tr.appendChild(th_remover);
        tblh_tr.appendChild(th_check);

        // add the table-head-row to table-head
        tblh.appendChild(tblh_tr);
        
        return tblh
    };

    function create_tbl_body(cols, rows) {
        /* creates the table body
        
        params:
        -------
        cols : array
            The column orderings (original
            column names, not the display names!)
        rows : array
            Array of json-objects.
                Format: [
                    {
                        'col':value,
                        'col':value,
                        ....
                    },
                    {
                        ...
                    },
                    ...
                ]

        returns:
        --------
        html element
        
        */

        // CAUTION: TBD: für products müssen wir an der stelle der categories
        // ein dropdown menü einbauen.

        // create tbody
        var tbody = document.createElement('tbody');

        // iterate through data
        for (var r = 0; r < rows.length; r++) {

            // create table row
            var tr = document.createElement('tr');

            // iterate through the column ordering
            for (var c = 0; c < cols.length; c++) {

                // create table cell
                if (c == 0) { var th = document.createElement('th'); }
                else { var th = document.createElement('td'); };

                // editable?
                if (!["id", "date"].includes(cols[c])) { 

                    // add editable
                    th.setAttribute('contenteditable', "true"); 
                    
                    // add event listener
                    th.setAttribute("oninput", "value_changed(this)");
                
                };
                
                // add value
                th.innerHTML = rows[r][cols[c]];

                // add coordinates
                th.classList.add("col_" + c.toString(), "row_" + r.toString());

                // append to table-row
                tr.appendChild(th);

            };

            // set special space for abo fetching based
            // on customer id (--> shortcut)
            if (tbl_type == "customers") {

                var th_shortcut = document.createElement('td');
                th_shortcut.innerHTML = "<button class='btn btn-sm btn-info' onClick='fetch_consumer_abo(this)'> {{ managment_abo_btn_label }}</button>";
                th_shortcut.classList.add("col_shortcut", "row_shortcut", "text-center");

                // append
                tr.appendChild(th_shortcut);

            };

            // create the remove button
            var th_remove = document.createElement('td');
            th_remove.innerHTML = "<i class='fa-solid fa-circle-minus fa-lg table-remove'></i>";
            th_remove.classList.add("col_remover", "row_remover", "text-center");

            // create the update button (hidden until onchange triggered!)
            var th_check = document.createElement('td');
            th_check.innerHTML = "<i class='fa-solid fa-circle-check fa-lg table-check-inactive'></i>";
            th_check.classList.add("col_updater", "row_updater", "text-center");

            // add to row
            tr.appendChild(th_remove);
            tr.appendChild(th_check);

            // append table row to table body
            tbody.appendChild(tr);

        };

        return tbody


    }

    function table_from_dict(data) {
        /* creates the table from a array of jsons

        params:
        -------
        data : json object
            Json object containing the table data,
            mapping and column odering.
                Format:{
                    'data':[
                        {
                            'col':value,
                            'col':value,
                            ...
                        },
                        ...
                    ],
                    'order':[],
                    'mapping':[]
                }
        
        returns:
        --------
        html element
        
        */ 

        // split the data into its elements
        const tbl_data = data.data;
        const cols = data.order;
        const n_cols = cols.length;
        const col_names = data.mapping;

        // create table element
        var tbl = document.createElement('table');
        tbl.classList.add("table", "table-hover", "table-sm");
        tbl.id = "displayTable";

        // create thead element
        const tblh = create_tbl_head(cols, col_names);
        tbl.appendChild(tblh);


        // create table body
        const tbody = create_tbl_body(cols, tbl_data);
        tbl.appendChild(tbody);


        return tbl

    };

    function parse_row_content(row) {
        /* parses the row content
        
        This function parses the row values.
        
        params:
        -------
        cell : html element
            The html element
        
        returns:
        --------
        json object
            The row values
                Format: {
                        'colname':'value',
                        'colname':'value',
                        ...
                    }    
        
        */

        // get tr
        var tr = row;

        // get cells
        var cells = tr.children();

        // get table column names
        var cols = []

        tr.parents('table').find('thead').find('th').each(function() {
            
            // get headers value
            var headers = $(this).attr('headers');

            if (!['update_button', 'remove_button', 'shortcut_button', 'upload_button'].includes(headers)) {
                cols.push($(this).attr('headers'));
            };
        });

        // get data
        var data = {}

        // get table row values
        cols.forEach(function (col, c) {
            
            // add data
            data[col] = cells.eq(c).text();

        });

        return data
    };

    function detach_row(cell) {
        /* detatches the parent row of the cell

        params:
        -------
        cell : jquery element
            The cell located in the row to
            detach.

        returns:
        --------
        null

        */


        // get closest tbody
        var tbody = cell.closest('tbody');

        //detach the parent tr
        cell.parents('tr').detach();

        // check if there are 'new-entry's
        if (tbody.find('.new-entry').length <=0 ) {

            // make the upload button invisible
            $('#createNewTableRow').addClass("col-12");
            $('#createNewTableRow').removeClass("col-6");
            $('#uploadNewRows').addClass("hidden");

        };

        //detach the parent tr
        cell.parents('tr').detach();

        return null

    };

    function value_changed(element) {
        /* event handler for cell changes */
        
        // activate active
        var updater = $(element).parents('tr').find('.table-check-inactive');
        updater.removeClass('table-check-inactive');
        updater.addClass('table-check');

        return
    };

    function get_costumers(filter_type = null, what = null, amount = null) {
        /* fetches consumer data and populates the table 
        
        params:
        -------
        filter_type : str | null
        Indicates the type of filter to apply.
            Options: { None, 'customer', 
                       'town' }
                    None: Fetches data by id
                          interval.
                    'customer': Searches for
                                a singel customer.
                    'town': Searches for all
                            customers in one town.
        what : str | null:
            Indicates the query phrase.
                Example: if null, the string indicates
                        the interval of ids.
        amount : int | null, optional
            The number of entries to query.
            (default is null).

        returns:
        --------
        null
    
        */

        // destroy previous content
        $(content_placeholder).empty()
        table_name.innerHTML = "";
        $('#createNewTableRow').addClass("col-12");
        $('#createNewTableRow').removeClass("col-6");
        $('#uploadNewRows').addClass("hidden");

        // create endpoint
        const URL = "{{ url_for('to_api', ressource='customers/get') }}";

        /// get data
        $.ajax({
            method: 'POST',
            url: URL,
            data: JSON.stringify({
                filter_type:filter_type,
                what:what,
                amount:amount,
            }),
            contentType: "application/json",
        }).done(function (response) {

            // success, process the tbl data
            if (response.success) {

                // set tbl type
                tbl_type = "customers";

                // set tbl name
                table_name.innerHTML = "Customers";

                // create the table to add
                const tbl = table_from_dict(response.data)

                // add to placholder
                content_placeholder.appendChild(tbl);

                // add the DataTable function
                $('#displayTable').DataTable({
                    'pagination':true,
                    'pagingType':"full_numbers",
                    'ordering':true,
                    'searching':true,
                    'bInfo' : false,
                    'scrollX':true,

                });
                $('.dataTables_length').addClass('bs-select');
                
                // remove hidden
                table_section.classList.remove("hidden");

            }
            else {

                console.log(response.error);
                
                Toastify({
                        text: response.error,
                        duration: 3000,
                        position:'right',
                        gravity:'top',
                        style: {
                            background: "linear-gradient(to right, #e74c3c, #c0392b)",
                        },
                    }).showToast();

            };

        });

    };

    function get_categories(amount = null, category_type="category") {
        /* fetches category data and populates the table 
        
        params:
        -------
        amount : int | null, optional
            The number of entries to query.
            (default is null).
        category_type : str, optional
            The category name.
            (default is 'category')
                Options: { 'category', 'subcategory'}

        returns:
        --------
        null
    
        */

        // destroy previous content
        $(content_placeholder).empty()
        table_name.innerHTML = "";
        $('#createNewTableRow').addClass("col-12");
        $('#createNewTableRow').removeClass("col-6");
        $('#uploadNewRows').addClass("hidden");

        // create endpoint
        var URL = null;
        if (category_type == "category") { URL = "{{ url_for('to_api', ressource='category/get') }}"; }
        else { URL = "{{ url_for('to_api', ressource='subcategory/get') }}";};

        /// get data
        $.ajax({
            method: 'POST',
            url: URL,
            data: JSON.stringify({
                amount:amount,
            }),
            contentType: "application/json",
        }).done(function (response) {

            // success, process the tbl data
            if (response.success) {
                
                // set tbl type
                tbl_type = category_type;

                // set tbl name
                table_name.innerHTML = category_type.charAt(0).toUpperCase() + category_type.slice(1);

                // create the table to add
                const tbl = table_from_dict(response.data)

                // add to placholder
                content_placeholder.appendChild(tbl);

                // add the DataTable function
                $('#displayTable').DataTable({
                    'pagination':true,
                    'pagingType':"full_numbers",
                    'ordering':true,
                    'searching':true,
                    'bInfo' : false,
                    'scrollX':true,

                });
                $('.dataTables_length').addClass('bs-select');
                
                // remove hidden
                table_section.classList.remove("hidden");

            }
            else {

                console.log(response.error);
                
                Toastify({
                        text: response.error,
                        duration: 3000,
                        position:'right',
                        gravity:'top',
                        style: {
                            background: "linear-gradient(to right, #e74c3c, #c0392b)",
                        },
                    }).showToast();

            };

        });
    };

    function get_products(filter_type = null, what = null, amount = null) {
        /* fetches consumer data and populates the table 
        
        params:
        -------
        filter_type : str | null
        Indicates the type of filter to apply.
            Options: { None, 'product', 
                       'category' }
                    None: Fetches data by id
                          interval.
                    'product': Searches for
                                a singel product.
                    'category': Searches for all
                                products in one
                                category.
        what : str | null:
            Indicates the query phrase.
                Example: if null, the string indicates
                        the interval of ids.
        amount : int | null, optional
            The number of entries to query.
            (default is null).

        returns:
        --------
        null
    
        */

        // destroy previous content
        $(content_placeholder).empty()
        table_name.innerHTML = "";
        $('#createNewTableRow').addClass("col-12");
        $('#createNewTableRow').removeClass("col-6");
        $('#uploadNewRows').addClass("hidden");

        // create endpoint
        const URL = "{{ url_for('to_api', ressource='products/get') }}";

        /// get data
        $.ajax({
            method: 'POST',
            url: URL,
            data: JSON.stringify({
                filter_type:filter_type,
                what:what,
                amount:amount,
            }),
            contentType: "application/json",
        }).done(function (response) {

            // success, process the tbl data
            if (response.success) {

                // set tbl type
                tbl_type = "products";

                // set tbl name
                table_name.innerHTML = "Products";

                // create the table to add
                const tbl = table_from_dict(response.data)

                // add to placholder
                content_placeholder.appendChild(tbl);

                // add the DataTable function
                $('#displayTable').DataTable({
                    'pagination':true,
                    'pagingType':"full_numbers",
                    'ordering':true,
                    'searching':true,
                    'bInfo' : false,
                    'scrollX':true,

                });
                $('.dataTables_length').addClass('bs-select');
                
                // remove hidden
                table_section.classList.remove("hidden");

            }
            else {

                console.log(response.error);
                
                Toastify({
                        text: response.error,
                        duration: 3000,
                        position:'right',
                        gravity:'top',
                        style: {
                            background: "linear-gradient(to right, #e74c3c, #c0392b)",
                        },
                    }).showToast();

            };

        });
    }

    

    // delete db entry / table row
    $('#contentTablePlaceholder').on("click", '.table-remove', function () {
        
        // turn into cell
        var cell = $(this);

        // get current row
        var row = cell.closest('tr');

        // parse and send only if its NOT a new element
        if (!row.hasClass('new-entry')) {

            // create url
            var target_url = null;
            if (tbl_type == "customers") { 
                target_url = "{{ url_for('to_api', ressource='customers/delete') }}"; 
            }
            else if (tbl_type == "category") {
                target_url = "{{ url_for('to_api', ressource='category/delete') }}"
            }
            else if (tbl_type == "subcategory") {
                target_url = "{{ url_for('to_api', ressource='subcategory/delete') }}";
            };

            // parse row content
            var data = parse_row_content(row);

            // make the call
            $.ajax({
                method:'POST',
                url: target_url,
                data: JSON.stringify(data),
                contentType:'application/json',
            }).done(function(response) {

                if (response.success) {

                    // detach row
                    detach_row(cell);

                }
                else {

                    console.log(response.error);
                    
                    Toastify({
                            text: response.error,
                            duration: 3000,
                            position:'right',
                            gravity:'top',
                            style: {
                                background: "linear-gradient(to right, #e74c3c, #c0392b)",
                            },
                        }).showToast();

                };

            });

        }
        else {

            // just detach the row
            detach_row(cell);

        };


        

    });

    // update db entry
    $('#contentTablePlaceholder').on("click", '.table-check', function () {

        // turn into cell
        var cell = $(this);

        // get current row
        var row = cell.closest('tr');

        // parse row content
        var data = parse_row_content(row);

        // create url
        var target_url = null;
        if (tbl_type == "customers") { 
            target_url = "{{ url_for('to_api', ressource='customers/update') }}"; 
        }
        else if (tbl_type == "category") {
            target_url = "{{ url_for('to_api', ressource='category/update') }}"; 
        }
        else if (tbl_type == "subcategory") {
            target_url = "{{ url_for('to_api', ressource='subcategory/update') }}";
        };
        

        // make ajax call
        $.ajax({
            method:'POST',
            url: target_url,
            data: JSON.stringify(data),
            contentType:'application/json',
        }).done(function(response) {

            if (response.success) {

                //detach the parent tr
                cell.removeClass('table-check');
                cell.addClass('table-check-inactive');

            }
            else {

                console.log(response.error);
                
                Toastify({
                        text: response.error,
                        duration: 3000,
                        position:'right',
                        gravity:'top',
                        style: {
                            background: "linear-gradient(to right, #e74c3c, #c0392b)",
                        },
                    }).showToast();

            };

        });

        

    });

    // add db entry
    $('#uploadNewRows').on("click", ".table-upload", function() {

        // turn into cell
        //var cell = $(this);

        // get table
        var tbl = $('#displayTable');

        // find all new-entries
        var data = []
        tbl.find('.new-entry').each(function() { data.push(parse_row_content($(this))); });

        // create url & keyword for data
        var target_url = null;
        if (tbl_type == "customers") { 
            target_url = "{{ url_for('to_api', ressource='customers/add') }}";
        }
        else if (tbl_type == "category") {
            target_url = "{{ url_for('to_api', ressource='category/add') }}";
        }
        else if (tbl_type == "subcategory") {
            target_url = "{{ url_for('to_api', ressource='subcategory/add') }}";
        };

        // make ajax call
        $.ajax({
            method:'POST',
            url: target_url,
            data: JSON.stringify({
                'to_add':data
            }),
            contentType:'application/json',
        }).done(function(response) {

            if (response.success) {

                //make upload invisible and kill remove 'new-entry' class
                $('#createNewTableRow').addClass("col-12");
                $('#createNewTableRow').removeClass("col-6");
                $('#uploadNewRows').addClass("hidden");
                
                tbl.find('.new-entry').each(function() { $(this).removeClass("new-entry"); });

                Toastify({
                        text: response.data.msg,
                        duration: 3000,
                        position:'right',
                        gravity:'top',
                        style: {
                            background: "linear-gradient(to right, #16a085, #2ecc71)",
                        },
                    }).showToast();

            }
            else {

                console.log(response.error);
                
                Toastify({
                        text: response.error,
                        duration: 3000,
                        position:'right',
                        gravity:'top',
                        style: {
                            background: "linear-gradient(to right, #e74c3c, #c0392b)",
                        },
                    }).showToast();

            };

        });

    });

    // add empty table row
    $('#createNewTableRow').on("click", ".table-add", function() {

        // get the table
        var tbl = $('#contentTablePlaceholder').find('table');

        // get col 'headers' names
        // CAUTION! the mds table scrollX copies your table. so you have to actually
        // select the last one (cause this is the data table...)
        var cols = []
        tbl.find('thead').last().find('th').each(function() {
            cols.push($(this).attr('headers'));
        });

        // get amount of columns
        var n_cols = cols.length;

        if (tbl_type == "customers") { n_cols = n_cols -3 }
        else { n_cols = n_cols -2 };


        // generate empty row
        var tr = document.createElement('tr');

        // add mark that the row is new
        tr.classList.add("new-entry");

        // generate content cells
        for (var c=0; c < n_cols; c++) {

            // create empty cell element
            var cell = null;

            // create table cell
            if (c == 0) { var th = document.createElement('th'); }
            else { var th = document.createElement('td'); };

            // editable?
            if (!["id", "date"].includes(cols[c])) { 

                // add editable
                th.setAttribute('contenteditable', "true"); 

                // CAUTION: do not end event listener for on change
                // cause the user has to refresh before editing newly
                // created users
                //th.setAttribute("oninput", "value_changed(this)");

                // add the html text
                th.innerHTML = "";

            }
            else {

                // 'add auto text'
                th.innerHTML = "{{ management_auto_text }}";
            };

            // append
            tr.appendChild(th);

        };

        // set special space for abo fetching based (but without the button)
        if (tbl_type == "customers") {

            var th_shortcut = document.createElement('td');
            th_shortcut.innerHTML = "";
            th_shortcut.classList.add("col_shortcut", "row_shortcut", "text-center");

            // append
            tr.appendChild(th_shortcut);

        };

        // create the remove button
        var th_remove = document.createElement('td');
        th_remove.innerHTML = "<i class='fa-solid fa-circle-minus fa-lg table-remove'></i>";
        th_remove.classList.add("col_remover", "row_remover", "text-center");

        // create the 'upload/create' button
        var th_upload = document.createElement('td');
        //th_upload.innerHTML = "<i class='fa-solid fa-cloud fa-lg table-upload'></i>";
        th_upload.classList.add("col_uploader", "row_uploader", "text-center");

        // add to row
        tr.appendChild(th_remove);
        tr.appendChild(th_upload);

        // attach
        tbl.children('tbody').append(tr);

        // make the upload button visible
        $('#createNewTableRow').removeClass("col-12");
        $('#createNewTableRow').addClass("col-6");
        $('#uploadNewRows').removeClass("hidden");


    });



</script>

{% endblock %} 