{% extends "html/base.html" %} 


{% block title %} 
{{ restart_title }}
{% endblock %}

{% block body %} 
<!-- Header -->
<div class="text-center pt-5">
    <i class='fa-solid fa-arrow-rotate-left fa-5x' style="opacity: 50%;"></i>
</div>
<div class="restart-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ restart_instruction }}</h1>
</div>

{% endblock %}

{% block script %} 
<script>

    $(document).ready(function() {

        // pull the plug
        $.ajax({
            method: 'POST',
            url: "{{ url_for('kill') }}",
            data: {}
        }).done(function(response) {

            if (response.success) {

                Toastify({
                        text: "{{ restart_success }}",
                        duration: 8000,
                        position:'center',
                        gravity:'top',
                        stopOnFocus:true,
                        close:true,
                        style: {
                            background: "linear-gradient(to right, #16a085, #2ecc71)",
                        },
                    }).showToast();

                // close
                close();

            };

        });
    
    });

</script>

{% endblock %}