/*@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css";*/

.no-link-underline {
    text-decoration: none;
}

.no-link-underline:hover {
    text-decoration: none;
}

.big-number {
    font-size: 40pt;
}

.dot {
    height:100px;
    width:100px;
    vertical-align: middle;
    text-align:center;
    background-color:antiquewhite;
    border-radius:50%;
}

.hidden {
    display:none;
}

.force-min-height {
    min-height:200px;
}

/* table manipulation */
.table-editable {
    position: relative;
}
  
.table-remove {
    color: #700;
    cursor: pointer;
}

.table-remove:hover {
    color: #f00;
}

.table-check {
    color: #070;
    cursor: pointer;
}

.table-check:hover {
    color: #0b0;
}

.table-up, .table-down {
    color: #007;
    cursor: pointer;
}

.table-up:hover, .table-down:hover{
    color: #00f;
}

.table-add {
    color: #070;
    cursor: pointer;
}

.table-add:hover {
    color: #0b0;
}
